.hero-banner {
    height: 700px;
    background: url(./../../assets/img/hero-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .heading h1 {
        text-align: center;
        color: #ffffff;
    }
}
